<!DOCTYPE html>
<html>
<head>
<style type=text/css>

p {    color: rgb(70, 70, 73);    
font-weight: 900;    
font-size: 20px;    
font-family: Helvetica, Arial, sans-serif;    
}

.error {
  color: rgb(62, 62, 62);
}

</style>
</head>

<body>

<p class="error">404</p>
<p>Not Found

  The requested URL /example-page was not found on this server.
  
  Additionally, a 404 Not Found error was encountered while trying to use an ErrorDocument to handle the request.
  
  Please check the URL for typing errors, ensure that the page exists, or navigate to the homepage.
  
  If you believe this is a server error, please contact the webmaster. admin@nordic-art.com
  
  Error 404</p>
<br><br> 
<a href="https://nordic-art-22f58cb8c917.herokuapp.com/">Return Home</a>
</body>
</html>