<!DOCTYPE html>
<html>
<head>
<style type=text/css>

p {    color: rgb(70, 70, 73);    
font-weight: 900;    
font-size: 20px;    
font-family: Helvetica, Arial, sans-serif;    
}

</style>
</head>

<body>

<p class="error">500</p>
<p>500 Internal Server Error

  The server encountered an internal error or misconfiguration and was unable to complete your request.
  
  Please contact the server administrator at admin@nordic-art.com to inform them of the time this error occurred, and the actions you performed just before this error.
  
  More information about this error may be available in the server error log.
  
  Additionally, a 500 Internal Server Error error was encountered while trying to use an ErrorDocument to handle the request.
<a href="https://nordic-art-22f58cb8c917.herokuapp.com/">Return Home</a>
</body>
</html>