<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home/templates/css/customerror.css' %}">
</head>

<body>

    <p class="error">500</p>
    <p>500 Internal Server Error

        The server encountered an internal error or misconfiguration and was unable to complete your request.

        Please contact the server administrator at <a href="mailto:admin@nordic-art.com">admin@nordic-art.com</a> to
        inform them of the time this error occurred, and the actions you performed just before this error.

        More information about this error may be available in the server error log.

        Additionally, a 500 Internal Server Error error was encountered while trying to use an ErrorDocument to handle
        the request.
        <br>
        <a href="https://nordic-art-22f58cb8c917.herokuapp.com/">Return Home</a>
    </p>
</body>

</html>