{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'artists/css/artists.css' %}">
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-4 col-md-4 my-auto">
            <h1 class="display-4 logo-font text-black home-bg">
                About Nordic Art
            </h1>
            <div class="cold-4">
            <p>We developed Nordic Art from the realisation that the up and coming artists in Sweden was not well represented online.</p>
            <p>
            We have the knowledge of the latest trends locally and globally to promote the best digital and photographic artists.
            Join us.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}