{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1>{{ artist.full_name }}</h1>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <img src="{{ artist.image.url }}" alt="{{ artist.full_name }}" class="img-fluid rounded">
        </div>
    </div>

    <div class="mt-4">
        <p><strong>Bio:</strong> {{ artist.bio }}</p>
        <p><strong>Total Sales:</strong> ${{ artist.total_sales }}</p>

        {% if artist.website %}
            <p><strong>Website:</strong> <a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a></p>
        {% endif %}

    </div>
</div>
{% endblock %}


