.error {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('static/background404.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); 
    z-index: -1;
}