body {
    height: calc(100vh - 164px);
    background: url('/media/artists-bg.png') center/cover fixed !important;
    background-size: cover;  
    animation: fadeBackground 5s forwards !important;
}