body {
    height: calc(100vh - 164px);
    background-position: center;
    background-attachment: fixed; 
    max-height: 500px; 
}

/* For round artist images on homepage */
.img-fluid-rounded {
    border-radius: 50%; 
    border: 2px solid white; 
    overflow: hidden; 
    max-width: 450px;
}