body {
    height: calc(100vh - 164px);
    background: rgba(255, 255, 255, 0.1) url('/media/artists-bg.png') center/cover fixed !important;
    background-size: cover;  
}

@keyframes fadeBackground {
    from {
        background: rgba(255, 255, 255, 0);
    }
    to {
        background: rgba(255, 255, 255, 0.9);
    }
}

.img-art-page {
    width: 100px;
}

/* Scrollable wrapper for the artist products */

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.print-item {
    display: inline-block;
    margin-right: 15px;
}

.buy-now {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
}

.img-art-page {
    position: relative;
}

.img-art-page:hover .buy-now {
    display: block;
}

/* Additional styling for Buy Now button */
.img-art-page:hover {
    filter: brightness(90%);
}
