body {
    height: calc(100vh - 164px);
    background: rgba(255, 255, 255, 0.1) url('/media/artists-bg.png') center/cover fixed !important;
    background-size: cover;  
}

@keyframes fadeBackground {
    from {
        background: rgba(255, 255, 255, 0);
    }
    to {
        background: rgba(255, 255, 255, 0.9);
    }
}

.img-art-page {
    width: 100px;
}

/* Scrollable wrapper for the artist products */

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.print-item {
    display: inline-block;
    margin-right: 
}