<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Prints
        </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=photography" class="dropdown-item">Photography</a>
                <a href="{% url 'products' %}?category=digital_art" class="dropdown-item">Digital</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'artist_list' %}" id="artist list" aria-haspopup="true" aria-expanded="false">
                Artists
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Photographers</a>
                <a href="" class="dropdown-item">Digital Artists</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog_view' %}" id="blog-link" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            {% if user.is_authenticated and user.is_staff %}
            <li class="dropdown-menu border-0" aria-labelledby="create-blogpost-link">
                <a class="nav-link" href="{% url 'create_post' %}">Create Post</a>
            </li>
        {% endif %}
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'contact_form' %}" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>