<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=photography" class="dropdown-item">Phototgraphy</a>
                <a href="{% url 'products' %}?category=digital_art" class="dropdown-item">Digital</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'artist_list' %}" id="artist list" aria-haspopup="true" aria-expanded="false">
                Artists
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Photographers</a>
                <a href="" class="dropdown-item">Digital Artists</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog_view' %}" id="blog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'about_us' %}" id="specials-link" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>
    </ul>
</div>