{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-padding">
        <h2>Blog Posts</h2>
        <div class="row">
            {% for post in all_posts %}
                <div class="col-md-6">
                    <div class="blog-post-item">
                        <div class="blog-post-image">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" class="blog-image-list" alt="{{ post.title }}">
                            {% else %}
                                <!-- Provide a default image or handle the absence of an image -->
                                <img src="{% static 'default-image.jpg' %}" alt="{{ post.title }}">
                            {% endif %}
                        </div>

                        <div class="blog-post-details">
                            <h3><a href="{% url 'post_detail' post_id=post.id %}">{{ post.title }}</a></h3>
                            <p>{{ post.pub_date|date:"F j, Y" }}</p>
                            <p>{{ post.content|truncatewords:50 }}</p>
                            <a href="{% url 'post_detail' post_id=post.id %}">Read More</a>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
